/* Acá va tu código */

h1 {
    text-align: center;
}

#ltnumeral {
    color: green;
}

#ltyellow {
    color: yellow;
}

#ltblue {
    color: rgb(37, 13, 173);
}

#ltred {
    color: red;
}

li a {
    color: black;
}

.imgfondo {
    background-image: url(https://miro.medium.com/max/1600/1*tfEzk4Og9pNJwa4V3uO7JA.png);
    height: 500px;
    width: 1250px;
    background-size: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infomation {
    color: white;
    border: 10%;
    border-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata';
    font-size: 3em;
    text-align: center;
}

#parrf1 {
    color: black;
    font-family: 'Inconsolata';
    font-size: 2em;
    text-align: justify;
    justify-content: end;
}

.alinear {
    justify-content: center;
}

.mensajes {
    background-image: url(http://www.institutodeestrategia.com/media/institutodeestrategia/images/2019/03/12/2019031209592717070.jpg);
    height: 520px;
    width: 1300px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#offset {
    width: 20px;
    height: 20px;
}

#impMessage {
    width: 20%;
    height: 30%;
    min-height: 100px;
    background-color: #e7e3e3;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 2px 2px 10px 1px;
    display: inline;
}

.contMensaje {
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
}