/* Acá va tu código */

body {
    background-image: url(https://miro.medium.com/max/1600/1*tfEzk4Og9pNJwa4V3uO7JA.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(209, 56, 46);
}

h1 {
    color: rgb(235, 235, 207);
}

h3 {
    color: rgb(235, 235, 207);
}

input {
    size: 10cm
}